In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [22]:
from pyspark.sql.functions import col
from pyspark.sql.window import Window 
import pyspark.sql.functions as F
from pyspark.sql.functions import row_number

In [11]:
df =spark.read.csv(r"C:\Users\sarth\Documents\Python_notebook\addresses.csv",header=True,inferSchema=True)
df.show()

+----------+-----------+-------------------+-----------+----+-------+----------+
|first_name|second_name|             street|       city|code|pincode|       dob|
+----------+-----------+-------------------+-----------+----+-------+----------+
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1968|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|
|      rock|       null|  120 Jefferson St.|         NY|null|    298|26-01-1992|
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1978|
+----------+-----------+-------------------+-----------+----+-------+----------+

In [12]:
#drop na
df.dropna().show()

+----------+-----------+-------------------+-----------+----+-------+----------+
|first_name|second_name|             street|       city|code|pincode|       dob|
+----------+-----------+-------------------+-----------+----+-------+----------+
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|
+----------+-----------+-------------------+-----------+----+-------+----------+

In [13]:
# drop na from column
df.where(col("second_name").isNotNull()).show()

+----------+-----------+-------------------+-----------+----+-------+----------+
|first_name|second_name|             street|       city|code|pincode|       dob|
+----------+-----------+-------------------+-----------+----+-------+----------+
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1968|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1978|
+----------+-----------+-------------------+-----------+----+-------+----------+

In [14]:
# drop duplicate rows

df.dropDuplicates().show()

+----------+-----------+-------------------+-----------+----+-------+----------+
|first_name|second_name|             street|       city|code|pincode|       dob|
+----------+-----------+-------------------+-----------+----+-------+----------+
|      rock|       null|  120 Jefferson St.|         NY|null|    298|26-01-1992|
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1978|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1968|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|
+----------+-----------+-------------------+-----------+----+-------+----------+

In [15]:
# drop duplicate rows from column

df.dropDuplicates(["first_name"]).show()

+----------+-----------+-------------------+-----------+----+-------+----------+
|first_name|second_name|             street|       city|code|pincode|       dob|
+----------+-----------+-------------------+-----------+----+-------+----------+
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1968|
|      rock|       null|  120 Jefferson St.|         NY|null|    298|26-01-1992|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
+----------+-----------+-------------------+-----------+----+-------+----------+

In [16]:
df.show()

+----------+-----------+-------------------+-----------+----+-------+----------+
|first_name|second_name|             street|       city|code|pincode|       dob|
+----------+-----------+-------------------+-----------+----+-------+----------+
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1968|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|
|      rock|       null|  120 Jefferson St.|         NY|null|    298|26-01-1992|
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1978|
+----------+-----------+-------------------+-----------+----+-------+----------+

In [26]:
df1 = df.select("first_name","second_name","dob",F.row_number().over(Window.partitionBy("first_name").orderBy(df['dob'])).alias("row_num"))
df1.filter(df1.row_num==1).show()

+----------+-----------+----------+-------+
|first_name|second_name|       dob|row_num|
+----------+-----------+----------+-------+
|      Anne|        Jet|21-10-1966|      1|
|      Jack|   McGinnis|23-06-1986|      1|
|   Stephen|      Tyler|25-11-2002|      1|
|      juck|     Repici|14-10-1968|      1|
|      rock|       null|26-01-1992|      1|
|       sam|       sriw|22-10-1966|      1|
+----------+-----------+----------+-------+

In [44]:
#rows  from last occurence 

df2 = df.select("first_name","second_name","street","city","code","pincode","dob",F.row_number().over(Window.partitionBy("first_name").orderBy(df['dob'])).alias("row_num"))
df3 = df2.groupBy("first_name").agg(F.max("row_num").alias("num")).withColumnRenamed("first_name","new_first_name")
#ax("row_num").alias("num")
df3.show()

+--------------+---+
|new_first_name|num|
+--------------+---+
|          Anne|  1|
|          Jack|  1|
|       Stephen|  1|
|          juck|  2|
|          rock|  1|
|           sam|  3|
+--------------+---+

In [39]:
df2.show()

+----------+-----------+-------------------+-----------+----+-------+----------+-------+
|first_name|second_name|             street|       city|code|pincode|       dob|row_num|
+----------+-----------+-------------------+-----------+----+-------+----------+-------+
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|      1|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|      1|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|      1|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1968|      1|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1978|      2|
|      rock|       null|  120 Jefferson St.|         NY|null|    298|26-01-1992|      1|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|      1|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|      2|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|      3|
+----------+-----------+-------------------+-----------+----+-------+----------+-------+

In [49]:
df4 = df2.join(df3, (df2.first_name == df3.new_first_name) & (df2.row_num == df3.num),"inner")
df4.show()

+----------+-----------+-------------------+-----------+----+-------+----------+-------+--------------+---+
|first_name|second_name|             street|       city|code|pincode|       dob|row_num|new_first_name|num|
+----------+-----------+-------------------+-----------+----+-------+----------+-------+--------------+---+
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|      1|          Anne|  1|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|      1|          Jack|  1|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|      1|       Stephen|  1|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1978|      2|          juck|  2|
|      rock|       null|  120 Jefferson St.|         NY|null|    298|26-01-1992|      1|          rock|  1|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|      3|           sam|  3|
+----------+-----------+-------------------+-----------+----+-------+----------+-------+--------------+---+

In [46]:
df4.drop("new_first_name","row_num","num").show()

+----------+-----------+-------------------+-----------+----+-------+----------+
|first_name|second_name|             street|       city|code|pincode|       dob|
+----------+-----------+-------------------+-----------+----+-------+----------+
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1978|
|      rock|       null|  120 Jefferson St.|         NY|null|    298|26-01-1992|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|
+----------+-----------+-------------------+-----------+----+-------+----------+

In [47]:
df2.join(df3,(df2.first_name == df3.new_first_name) & (df2.row_num == df3.num),"leftanti").show()

+----------+-----------+-----------------+---------+----+-------+----------+-------+
|first_name|second_name|           street|     city|code|pincode|       dob|row_num|
+----------+-----------+-----------------+---------+----+-------+----------+-------+
|      juck|     Repici|             null|Riverside|  NJ|   8075|14-10-1968|      1|
|       sam|       sriw|120 jefferson st.|Riverside|  NJ|   8075|22-10-1966|      1|
|       sam|       sriw|120 jefferson st.|Riverside|  NJ|   8075|22-10-1966|      2|
+----------+-----------+-----------------+---------+----+-------+----------+-------+

In [48]:
df.show()

+----------+-----------+-------------------+-----------+----+-------+----------+
|first_name|second_name|             street|       city|code|pincode|       dob|
+----------+-----------+-------------------+-----------+----+-------+----------+
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|      Jack|   McGinnis|       220 hobo Av.|      Phila|  PA|   9119|23-06-1986|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1968|
|   Stephen|      Tyler|       7452 Terrace|         NY|  SD|  91234|25-11-2002|
|      rock|       null|  120 Jefferson St.|         NY|null|    298|26-01-1992|
|      Anne|        Jet|9th, at Terrace plc|Desert City|  CO|    123|21-10-1966|
|       sam|       sriw|  120 jefferson st.|  Riverside|  NJ|   8075|22-10-1966|
|       sam|      singh|           kolapuri|         PB|  KC|   2133|29-12-1983|
|      juck|     Repici|               null|  Riverside|  NJ|   8075|14-10-1978|
+----------+-----------+-------------------+-----------+----+-------+----------+

In [50]:
df.columns

['first_name', 'second_name', 'street', 'city', 'code', 'pincode', 'dob']

In [ ]:
#rows  from last occurence 

df2 = df.select("first_name","second_name","street","city","code","pincode","dob",F.row_number().over(Window.partitionBy("first_name").orderBy(df['dob'])).alias("row_num"))
df3 = df2.groupBy("first_name").agg(F.max("row_num").alias("num")).withColumnRenamed("first_name","new_first_name")
df3.show()

df4 = df2.join(df3, (df2.first_name == df3.new_first_name) & (df2.row_num == df3.num),"inner")
df4.show()

df4.drop("new_first_name","row_num","num").show()
#rejected records
df2.join(df3,(df2.first_name == df3.new_first_name) & (df2.row_num == df3.num),"leftanti").show()